@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #fff;
    font-size: 14px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    transition: .5s al ease;
    z-index: 99;
}

ul{
    list-style-type: none;
}

h1{
    color: #808080;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

h3{
    color: #808080;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

h4{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px;
    padding-bottom: 0;
}

h5{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

footer{
    background: #f5f5f5;
}

.header-caja{
    color: white;
    background: #41B6E6;
    padding: 5px 15px;
    height: 40px;
}

.texto-header-caja{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    font-weight:500;
}

.contenedor{
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
}

.caja1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
    margin-left: auto;
}

.nav-menu-item{
    padding: 25px;
}

.menu-item{
    padding: 0;
}

.menu-item-user{
    padding: 0;
    width: 40px;
}

.logo{
    width: 170px;
    padding-top: 10px;
}

.lupa{
    width: 32px;
    height: 32px;
    background: url("img/search-white.png") no-repeat center;
    background-color: #0076ce;
    background-size:18px;
    border-radius: 50%;
    border: none;
}

.nav-menu-img{
    width: 25px;
}

.banner{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    width: 1140px;
}

.contenedor-cuenta{
    text-align: center;
}

.cuenta-regresiva{
    height: 96px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.caja-productos{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    background: transparent;
    padding: 60px 0;
}

.producto{
    border: black;
    border-radius: 20px;
    width: 247px;
    margin-right: 50px;
    float:left;
}

.descripcion-producto{
    text-align: center;
}

.precio-producto{
    text-align: center;
}

.precio{
    font-weight: 700;
    font-size: 18px;
}

.itbms{
    font-weight: lighter;
    font-size: 12px;
}

.precio-anterior{
    color: #808080;
    text-decoration: line-through;
    text-align: center;
}

.contenedor-boton{
    width:247px;
    height:35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #006bb4;
    border-radius: 5px;
}

.boton{
    background: transparent;
    color: white;
    border: none;
    vertical-align: middle;
}

.redes{
    text-align: center;
    padding: 40px 15px;
}

.redes-iconos{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0;
}
.item-icon{
    width: 40px;
    height: 40px;
}

.icon{
    width: 40px;
    padding: 5px;
}

.footer-nav{
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenedor-footer{
    display:flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    margin-right: 45px;
}

.columna-footer{
    width: 285px;
    padding-left: 15px;
    padding-right: 15px;
}

.pago-imagen{
    width: 180px;
    height: 65px;
}

.columna{
    padding: 0;
    text-align: left;
    font-size: 14px;
}

.caja2{
    padding: 25px 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.caja2-fila{
    width: 1140px;
    height: 28px;
}

.contenedor-legal-stuff{
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
}